// compileCompact: ../css/$1.css, sourceMap: true
// compileCompressed, compileCompact, compileNested, compileExpanded

// ==================================================
// 変数
// ==================================================
$wrapperWidth: 535px;

// ==================================================
// デフォルト
// ==================================================
.ui-select-list {
	max-height: 520px;
}
// ==================================================
// メイン
// ==================================================
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background: #e5e5e5;
}

.wrapper {
	margin: 6px;
	padding: 0;
	width: 535px;
	height: 100%;
	font-size: 80%;
}
	
// ヘッダパネル
.header-panel {
	text-align: right;
	
	// 言語選択
	.language-switcher {
		width: $wrapperWidth;
		text-align: right;
		height: 24px;
		margin: 0;
	    font-family: Osaka, "ＭＳ Ｐゴシック", sans-serif;
	    font-size: 12px;
	    line-height: 16px;
	}
	
	// フォーム
	.setting-form,
	.search-form {
		display: inline-block;
	}
	
	// 読み込み
	.nxc-progress-bar {
		margin: 0;
		width: 100%;
		height: 3px;
		background: #fff;
		border: 1px #777 solid;
		border-radius: 5px;
		
		div {
			margin: 0;
			padding: 0;
			width: 0;
			height: 3px;
			background: #aaa;
		}
	}
	
	.nxc-progress-message {
		position: relative;
		padding: 5px;
		text-align: right;
	}
	
	.nxc-reload-page {
		text-align: center;
	}
		
}

// セレクトパネル
.select-panel {
	position: relative;
	height: 30px;
	padding: 3px;
	z-index: 1; /* IE<8 */
	
	.nxc-ui-select {
		margin: 0;
		padding: 0;
		display: inline-block;
		
		.nxc-exist-nx-icon {
			color: #977;
			background-color: #fdd;
			border: solid 1px #caa;
		}
		
		.nxc-search-keyword {
			background-color: #ff8;
		}
		
		.nxc-search-result-count {
			color: #999;
			font-weight: bold;
		}
	}
}

// ツールチップパネル
.tooltip-panel {
	background-color: transparent;
	
	td {
		vertical-align: top;
	}
	
	.frame-content {
		width: 245px;
		
		// アイテム詳細
		.item-details {
			& > div {
				border-left: solid #000 3px;
				padding-left: 3px;
			}
			.item-different-line {
				border-left-color: #00f800;
			}
			.item-differentOp-line {
				border-left-color: #00f800;
				color: #00f800;
			}
			.item-info-tag {
			    margin-top: 8px;
			}
			
			// 色
			.item-name-U {color: #d8b888;}
			.item-name-NX {color: #b44444;}
			.item-name-EX {color: #b2b2f8;}
			.item-name-T {color: #00f800;}
			
			.text-color-BTBLUE {color: #50a0f8;}
			.text-color-CTPURPLE {color: #dd82dd;}
			.text-color-CYAN {color: #00ffff;}
			.text-color-GOLDYELLOW {color: #ffdf00;}
			.text-color-GRAY {color: #777;}
			.text-color-GREEN {color: #00cc00;}
			.text-color-LTGREEN {color: #00ff00;}
			.text-color-LTORANGE {color: #ff9900;}
			.text-color-LTRED {color: #f80000;}
			.text-color-LTYELLOW {color: #f8f800;}
			.text-color-WHITE {color: #fff;}
			
			.item-different-line .text-color-LTYELLOW  {
				color: #00f800;
			}
			
			// 画像
			.item-image {
				margin: 2px 0 8px 2px;
				position: relative;
				width: 34px;
				height: 34px;
			}
			.item-rank {
				position: absolute;
				top: 0px;
				left: 0px;
			}
			.item-grade {
				position: absolute;
				bottom: 1px;
				right: 1px;
			}
		}
	}
}

// フッターパネル
.footer-panel {
	.nxc-captcha-link {
		display: none;
	}
}
